name: CI Pipeline

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

  lint:
    runs-on: ubuntu-latest
    steps:
        - name: Run linter
          run: npm run lint


        - name: Run formatter check
          run: npm run format:check

        - name: Run Trivy vulnerability scanner in repo mode
          uses: aquasecurity/trivy-action@0.33.1
          with:
            scan-type: 'fs'
            ignore-unfixed: false
            format: 'sarif'
            output: 'trivy-results.sarif'
            severity: 'LOW,MEDIUM,HIGH,CRITICAL'

        - name: Secret Scanning
          uses: trufflesecurity/trufflehog@main
          with:
            extra_args: --results=verified,unknown --format sarif --output trufflehog-results.sarif

        - name: Upload Trivy scan results to GitHub Security tab
          uses: github/codeql-action/upload-sarif@v4
          with:
            sarif_file: 'trivy-results.sarif'

        - name: Build application
          run: npm run build
